<div>
  <button
    type="button"
    mdbBtn
    color="default"
    rounded="true"
    data-toggle="modal"
    data-target="#basicExample"
    (click)="frame.show()"
    mdbWavesEffect
  >
    NEW OVEN
  </button>
  <div
    mdbModal
    #frame="mdbModal"
    class="modal fade left"
    id="frameModalTop"
    tabindex="-1"
    role="dialog"
    aria-labelledby="myModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header text-center">
          <h4 class="modal-title w-100 font-weight-bold">Add New Oven</h4>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
            (click)="frame.hide(); initEmptyForm();"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body mx-3">
          <div class="md-form mb-4" [ngClass]="{'error' : !validateAddress()}">
            <input
              type="text"
              id="defaultForm-address"
              [formControl]="address"
              class="form-control"
              mdbInput
              mdbValidate
            />
            <label for="defaultForm-address">Address</label>
            <em
              *ngIf="!validateAddress() && validatingForm.controls.address.errors.required"
              >Required</em
            >
            <em
              *ngIf="!validateAddress() && validatingForm.controls.address.errors.pattern"
              >Address must start with a letter</em
            >
          </div>

          <div
            class="md-form mb-4"
            [ngClass]="{'error' : !validateLocationLatitude()}"
          >
            <input
              type="text"
              id="defaultForm-locationLatitude"
              [formControl]="locationLatitude"
              class="form-control"
              mdbInput
              mdbValidate
            />
            <label for="defaultForm-locationLatitude">Location latitude</label>
            <em
              *ngIf="!validateLocationLatitude() && validatingForm.controls.locationLatitude.errors.required"
              >Required</em
            >
            <em
              *ngIf="!validateLocationLatitude() && validatingForm.controls.locationLatitude.errors.pattern"
              >Invalid latitude format</em
            >
          </div>

          <div
            class="md-form mb-4"
            [ngClass]="{'error' : !validateLocationLongitude()}"
          >
            <input
              type="text"
              id="defaultForm-locationLongitude"
              [formControl]="locationLongitude"
              class="form-control"
              mdbInput
              mdbValidate
            />
            <label for="defaultForm-locationLongitude"
              >Location longitude</label
            >
            <em
              *ngIf="!validateLocationLongitude() && validatingForm.controls.locationLongitude.errors.required"
              >Required</em
            >
            <em
              *ngIf="!validateLocationLongitude() && validatingForm.controls.locationLongitude.errors.pattern"
              >Invalid longitude format</em
            >
          </div>
        </div>
        <div class="modal-footer d-flex justify-content-center">
          <ng-container *ngIf="validatingForm.valid">
            <button
              mdbBtn
              color="default"
              class="waves-light"
              mdbWavesEffect
              (click)="addNewOven(); frame.hide(); initEmptyForm()"
            >
              ADD
            </button>
          </ng-container>
          <ng-container *ngIf="ovenAdded">
            <ngz-message-addedOven></ngz-message-addedOven>
          </ng-container>
          <ng-container *ngIf="!validatingForm.valid">
            <button
              mdbBtn
              color="default"
              class="waves-light not-allowed"
              mdbWavesEffect
              disabled
            >
              ADD
            </button>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
</div>
