.btnSave {
  margin-right: 5px;
}

.btnEdit {
  margin-top: 5px;
  margin-bottom: 5px;
}

em {
  float: right;
  color: #e05c65;
  padding-left: 10px;
}

.error input {
  background-color: #e3c3c5;
}

.error ::-webkit-input-placeholder {
  color: #999;
}

.error ::-moz-placeholder {
  color: #999;
}

.error :-moz-placeholder {
  color: #999;
}

.error :-ms-input-placeholder {
  color: #999;
}

.editableParts {
  margin-top: 20px;
}

.not-allowed {
  cursor: not-allowed;
}
