<div class="form-group">
  <label for="ovens">Select an oven:</label>
  <select
    class="form-control"
    id="ovens"
    (change)="setSelectedOven($event.target.value)"
  >
    <option *ngFor="let oven of ovens" value="{{oven.ovenId}}">
      Oven (ID: {{oven.ovenId}})
    </option>
  </select>
  <ng-container *ngIf="ovens.length">
    <ngz-editable [selectedOven]="selectedOven"></ngz-editable>
  </ng-container>
</div>
<ngz-measurements
  [ovenSelected]="ovenSelected"
  [(selectedOven)]="selectedOven"
></ngz-measurements>
