<div class="form-group">
  <label for="ovens">Select an oven:</label>
  <select
    class="form-control"
    id="ovens"
    (change)="setSelectedOven($event.target.value)"
  >
    <option *ngFor="let oven of ovens" value="{{oven.ovenID}}">
      Oven (ID: {{oven.ovenID}})
    </option>
  </select>
  <ng-container *ngIf="selectedOven">
    <div>Address: {{selectedOven.address}}</div>
  </ng-container>
</div>
<ngz-measurements
  [ovenSelected]="ovenSelected"
  [(selectedOven)]="selectedOven"
></ngz-measurements>
