<nav>
  <a routerLink="/main/about-us" routerLinkActive="active">About us </a>
  <a routerLink="/main" routerLinkActive="active">Home</a>
</nav><router-outlet></router-outlet>
<!-- <div class="app">
  <div class="leftColumnSection">
    <nav>
      <a routerLink="/main/about-us" routerLinkActive="active">About us</a>
    </nav>
    <ngz-oven-form [(ovens)]="ovens"></ngz-oven-form>
    <ngz-oven-info
      [(selectedOven)]="selectedOven"
      [ovens]="ovens"
    ></ngz-oven-info>
  </div>
  <div class="rightColumnSection">
    <ngz-graph [selectedOven]="selectedOven"></ngz-graph>
    <ngz-map [selectedOven]="selectedOven"></ngz-map>
  </div>
</div> -->
