<table class="table table-dark">
  <tr class="header">
    <th scope="col">Time</th>
    <th scope="col">Power consumption</th>
    <th scope="col">Temperature (°C)</th>
    <th *ngIf="selectedOven">Temperature (°F)</th>
  </tr>
  <ng-container *ngIf="selectedOven">
    <tr *ngFor="let measurement of selectedOven.measurements; let id = index">
      <td>{{measurement.dateTime}}</td>
      <td>{{measurement.powerConsumption}}</td>
      <td>{{measurement.temperature}}</td>
      <td *ngIf="ovenSelected">{{insertFahrenheitValue(measurement, id)}}</td>
    </tr>
  </ng-container>
</table>
